:root {
    --box-command-height: 31px;
}

html {
    font-size: 13px;
}

.box-command {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--box-command-height);
    background-color: #fff; /* ボトムシートの背景色 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* ドロップシャドウ */
    /* その他のスタイルを追加 */
}

.prime-qk-console[data-hidden-h1="true"] h1 {
    display: none;
}
.prime-qk-console[data-hidden-h2="true"] h2 {
    display: none;
}
.prime-qk-console[data-hidden-h3="true"] h3 {
    display: none;
}
.prime-qk-console[data-hidden-h4="true"] h4 {
    display: none;
}
.prime-qk-console[data-hidden-h5="true"] h5 {
    display: none;
}
.prime-qk-console[data-hidden-h6="true"] h6 {
    display: none;
}
.prime-qk-console[data-hidden-p="true"] p {
    display: none;
}
.prime-qk-console[data-hidden-bq="true"] blockquote {
    display: none;
}
.prime-qk-console[data-hidden-code="true"] pre {
    display: none;
}

.box-command .input-group {
    position: absolute;

    bottom: 0;
}

.container {
    overflow-y: scroll;

    height: calc(100lvh - var(--box-command-height));
    padding-bottom: calc(var(--box-command-height));
}